# Notebook Gerardo Alvarado

## Capítulo 3

In [11]:
# this is the first comment

In [13]:
spam = 1  # and this is the second comment
          # ... and now a third!

In [14]:
text = "# This is not a comment because it's inside quotes."

In [15]:
import math

In [16]:
math.sqrt(25)

5.0

In [17]:
math.pi

3.141592653589793

In [18]:
import math as mt

In [19]:
mt.sqrt(25)

5.0

In [20]:
import numpy

In [21]:
import math

In [24]:
from numpy import random

In [25]:
import numpy as np

In [27]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [28]:
dataOne

array([[0.22700975, 0.76071066, 0.51417879, 0.79827336, 0.37853693],
       [0.62318659, 0.52030128, 0.7983109 , 0.93852312, 0.894779  ],
       [0.35770263, 0.62162375, 0.76022729, 0.87879692, 0.05361349],
       [0.59702562, 0.45788881, 0.46913475, 0.9091152 , 0.77547178],
       [0.7667835 , 0.21937393, 0.142939  , 0.46650603, 0.19443461]])

In [29]:
np.mean(dataOne)

0.5649779078066632

In [30]:
print('I Love data Science')

I Love data Science

In [31]:
variableName = 25

In [32]:
variableName1 = 'I Love data Science'

In [33]:
print(variableName1)

I Love data Science

In [34]:
variableName = 25

In [35]:
type(variableName)

int

In [36]:
variableName = 25.0

In [37]:
type(variableName)

float

In [38]:
varOne = 25

In [39]:
varTwo = 25.0

In [40]:
varThree = varOne + varTwo

In [41]:
print(varThree)

50.0

In [42]:
varOne = 25

In [43]:
varTwo = 'Hello'

In [44]:
varThree = varOne + varTwo

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
varTwo = int(varTwo)

ValueError: invalid literal for int() with base 10: 'Hello'

In [46]:
print(varTwo)

Hello

In [47]:
type(varTwo)

str

In [48]:
varTwo = int(varTwo)

ValueError: invalid literal for int() with base 10: 'Hello'

In [56]:
varTwo = 'Hello'

In [57]:
type(varTwo)

str

In [58]:
varTwo = float(varTwo)

ValueError: could not convert string to float: 'Hello'

In [59]:
listOne = [1,2,3,4]

In [60]:
print(listOne[1:3])

[2, 3]

In [61]:
tel = {'jack': 4098, 'sape': 4139}

In [62]:
tel['jack']

4098

In [63]:
dir = {'Prov':1,'Cant':1,'Dist':5,'Bar':10,'Casa':25}

In [68]:
mt.sum(dir)

AttributeError: module 'math' has no attribute 'sum'

In [73]:
2 + 2

4

In [74]:
50 - 5*6

20

In [75]:
(50 - 5*6) / 4

5.0

In [76]:
8 / 5  # division always returns a floating point number

1.6

In [77]:
17 / 3  # classic division returns a float

5.666666666666667

In [78]:
17 // 3  # floor division discards the fractional part

5

In [79]:
17 % 3  # the % operator returns the remainder of the division

2

In [80]:
5 * 3 + 2  # result * divisor + remainder

17

In [81]:
5 ** 2  # 5 squared

25

In [82]:
2 ** 7  # 2 to the power of 7

128

In [83]:
width = 20

In [84]:
height = 5 * 9

In [85]:
width * height

900

In [86]:
4 * 3.75 - 1

14.0

In [87]:
tax = 12.5 / 100

In [88]:
price = 100.50

In [89]:
price * tax

12.5625

In [90]:
price + _

113.0625

In [91]:
round(_, 2)

113.06

In [92]:
3+5j

(3+5j)

3+5J

In [93]:
'spam eggs'  # single quotes

'spam eggs'

In [94]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [95]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [96]:
'"Yes," they said.'

'"Yes," they said.'

In [97]:
"\"Yes,\" they said."

'"Yes," they said.'

In [98]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [99]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [100]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [101]:
s = 'First line.\nSecond line.'  # \n means newline

In [102]:
s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [103]:
print(s)  # with print(), \n produces a new line

First line.
Second line.

In [104]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [105]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [106]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [107]:
# 3 times 'un', followed by 'ium'

In [108]:
3 * 'un' + 'ium'

'unununium'

In [109]:
'Py' 'thon'

'Python'

In [110]:
text = ('Put several strings within parentheses '
...         'to have them joined together.')

In [111]:
text

'Put several strings within parentheses to have them joined together.'

In [112]:
prefix = 'Py'

In [113]:
prefix 'thon'  # can't concatenate a variable and a string literal

SyntaxError: invalid syntax (<ipython-input-113-c5901e312aa3>, line 1)

In [114]:
('un' * 3) 'ium'

SyntaxError: invalid syntax (<ipython-input-114-f4764cbe42a8>, line 1)

In [115]:
prefix + 'thon'

'Python'

In [116]:
word = 'Python'

In [117]:
word[0]  # character in position 0

'P'

In [118]:
word[5]  # character in position 5

'n'

In [119]:
word[-1]  # last character

'n'

In [120]:
word[-2]  # second-last character

'o'

In [121]:
word[-6]

'P'

In [122]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [123]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [124]:
word[:2] + word[2:]

'Python'

In [125]:
word[:4] + word[4:]

'Python'

In [126]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [127]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [128]:
word[-2:]  # characters from the second-last (included) to the end

'on'

In [129]:
word[4:42]

'on'

In [130]:
word[42:]

''

In [131]:
'J' + word[1:]

'Jython'

In [132]:
word[:2] + 'py'

'Pypy'

In [133]:
s = 'supercalifragilisticexpialidocious'

In [134]:
len(s)

34

In [135]:
squares = [1, 4, 9, 16, 25]

In [136]:
squares

[1, 4, 9, 16, 25]

In [137]:
squares[0]  # indexing returns the item

1

In [138]:
squares[-1]

25

In [139]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [140]:
squares[:]

[1, 4, 9, 16, 25]

In [141]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [142]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here

In [143]:
4 ** 3  # the cube of 4 is 64, not 65!

64

In [144]:
cubes[3] = 64  # replace the wrong value

In [145]:
cubes

[1, 8, 27, 64, 125]

In [146]:
cubes.append(216)  # add the cube of 6

In [147]:
cubes.append(7 ** 3)  # and the cube of 7

In [148]:
cubes

[1, 8, 27, 64, 125, 216, 343]

In [149]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [150]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [151]:
# replace some values

In [152]:
letters[2:5] = ['C', 'D', 'E']

In [153]:
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [154]:
# now remove them

In [155]:
letters[2:5] = []

In [156]:
letters

['a', 'b', 'f', 'g']

In [157]:
# clear the list by replacing all the elements with an empty list

In [158]:
letters[:] = []

In [159]:
letters

[]

In [160]:
letters = ['a', 'b', 'c', 'd']

In [161]:
len(letters)

4

In [162]:
a = ['a', 'b', 'c']

In [163]:
n = [1, 2, 3]

In [164]:
x = [a, n]

In [165]:
x

[['a', 'b', 'c'], [1, 2, 3]]

In [166]:
x[0]

['a', 'b', 'c']

In [169]:
x[0][1]

'b'

In [170]:
# Fibonacci series:
... # the sum of two elements defines the next
... a, b = 0, 1

In [171]:
while a < 10:
...     print(a)
...     a, b = b, a+b
...

0
1
1
2
3
5
8

In [172]:
i = 256*256

In [173]:
print('The value of i is', i)

The value of i is 65536

In [174]:
a, b = 0, 1

In [73]:
while a < 1000:
...     print(a, end=',')
...     a, b = b, a+b
...

NameError: name 'a' is not defined

## Capítulo 4

In [179]:
x = int(input("Please enter an integer: "))

Please enter an integer: 1

In [180]:
if x < 0:
...     x = 0
...     print('Negative changed to zero')
... elif x == 0:
...     print('Zero')
... elif x == 1:
...     print('Single')
... else:
...     print('More')
...

Single

In [181]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']

In [182]:
for w in words:
...     print(w, len(w))

cat 3
window 6
defenestrate 12

In [187]:
users = {"Gerardo":"a",
         "Marlene":"b",
         "Carlos":"c"
        }
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

In [188]:
users

{'Gerardo': 'a', 'Marlene': 'b', 'Carlos': 'c'}

In [189]:
for i in range(5):
...     print(i)

0
1
2
3
4

In [190]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
>>> for i in range(len(a)):
...     print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [192]:
print(range(10))

range(0, 10)

In [193]:
sum(range(4))  # 0 + 1 + 2 + 3

6

In [194]:
list(range(4))

[0, 1, 2, 3]

In [195]:
for n in range(2, 10):
...     for x in range(2, n):
...         if n % x == 0:
...             print(n, 'equals', x, '*', n//x)
...             break
...     else:
...         # loop fell through without finding a factor
...         print(n, 'is a prime number')
...

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [196]:
for num in range(2, 10):
...     if num % 2 == 0:
...         print("Found an even number", num)
...         continue
...     print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [ ]:
while True:
...     pass  # Busy-wait for keyboard interrupt (Ctrl+C)

In [ ]:
class MyEmptyClass:
...     pass

In [3]:
def initlog(*args):
...     pass   # Remember to implement this!

In [19]:
def fib(n):    # write Fibonacci series up to n
...     """Print a Fibonacci series up to n."""
...     a, b = 0, 1
...     while a < n:
...         print(a, end=' ')
...         a, b = b, a+b
...     print()
...
>>> # Now call the function we just defined:
... fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [20]:
fib

In [21]:
f = fib

In [22]:
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [23]:
fib(0)

In [24]:
print(fib(0))

None

In [25]:
def fib2(n):  # return Fibonacci series up to n
...     """Return a list containing the Fibonacci series up to n."""
...     result = []
...     a, b = 0, 1
...     while a < n:
...         result.append(a)    # see below
...         a, b = b, a+b
...     return result
...

In [26]:
f100 = fib2(100)    # call it

In [27]:
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [28]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [29]:
ask_ok('Do you really want to quit?')

Do you really want to quit?h
Please try again!
Do you really want to quit?y

True

In [15]:
i = 5

def f(arg=i):
    print(arg)

i = 6
f()

5

In [30]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [31]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [32]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [33]:
parrot(1000)                                          # 1 positional argument

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [34]:
parrot(voltage=1000)                                  # 1 keyword argument

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [35]:
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [36]:
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [37]:
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [38]:
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [39]:
parrot()

TypeError: parrot() missing 1 required positional argument: 'voltage'

In [40]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [41]:
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [52]:
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [54]:
def concat(*args, sep="/"):
...     return sep.join(args)
...

In [55]:
concat("earth", "mars", "venus")

'earth/mars/venus'

In [56]:
concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

In [57]:
list(range(3, 6))            # normal call with separate arguments

[3, 4, 5]

In [58]:
args = [3, 6]

In [59]:
list(range(*args))            # call with arguments unpacked from a list

[3, 4, 5]

In [60]:
def parrot(voltage, state='a stiff', action='voom'):
...     print("-- This parrot wouldn't", action, end=' ')
...     print("if you put", voltage, "volts through it.", end=' ')
...     print("E's", state, "!")
...

In [61]:
d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}

In [62]:
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [63]:
def make_incrementor(n):
...     return lambda x: x + n
...

In [64]:
f = make_incrementor(42)

In [65]:
f(0)

42

In [66]:
f(1)

43

In [67]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [68]:
pairs.sort(key=lambda pair: pair[1])

In [69]:
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [71]:
def my_function():
...     """Do nothing, but document it.
...
...     No, really, it doesn't do anything.
...     """
...     pass
print(my_function.__doc__)

Do nothing, but document it.

    No, really, it doesn't do anything.

In [72]:
def f(ham: str, eggs: str = 'eggs') -> str:
...     print("Annotations:", f.__annotations__)
...     print("Arguments:", ham, eggs)
...     return ham + ' and ' + eggs
...
f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

## Cap 5

In [74]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [75]:
fruits.count('apple')

2

In [76]:
fruits.count('tangerine')

0

In [77]:
fruits.index('banana')

3

In [78]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [79]:
fruits.reverse()

In [81]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [82]:
fruits.append('grape')

In [83]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [84]:
fruits.sort()

In [85]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [86]:
fruits.pop()

'pear'

In [87]:
stack = [3, 4, 5]

In [88]:
stack.append(6)

In [91]:
stack.append(7)

In [92]:
stack

[3, 4, 5, 6, 6, 7]

In [93]:
stack.pop()

7

In [95]:
stack.pop()

6

In [96]:
stack

[3, 4, 5, 6]

In [97]:
from collections import deque

In [98]:
queue = deque(["Eric", "John", "Michael"])

In [100]:
queue.append("Terry")           # Terry arrives

In [101]:
queue.append("Graham")          # Graham arrives

In [102]:
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [103]:
queue.popleft()                 # The second to arrive now leaves

'John'

In [104]:
queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Terry', 'Graham'])

In [105]:
squares = []

In [106]:
for x in range(10):
     squares.append(x**2)

In [107]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [108]:
squares = list(map(lambda x: x**2, range(10)))

In [109]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [110]:
squares = [x**2 for x in range(10)]

In [111]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [113]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [114]:
combs = []

In [115]:
for x in [1,2,3]:
     for y in [3,1,4]:
         if x != y:
             combs.append((x, y))

In [116]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [117]:
vec = [-4, -2, 0, 2, 4]

In [118]:
# create a new list with the values doubled

In [119]:
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [120]:
# filter the list to exclude negative numbers

In [121]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [122]:
# apply a function to all the elements

In [123]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [124]:
# call a method on each element

In [125]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']

In [126]:
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [127]:
# create a list of 2-tuples like (number, square)

In [128]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [129]:
# the tuple must be parenthesized, otherwise an error is raised

In [130]:
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-130-a4841c5cdd7d>, line 1)

In [131]:
# flatten a list using a listcomp with two 'for'

In [132]:
vec = [[1,2,3], [4,5,6], [7,8,9]]

In [133]:
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [134]:
from math import pi

In [135]:
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [136]:
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
 ]

In [137]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [138]:
transposed = []

In [139]:
for i in range(4):
     transposed.append([row[i] for row in matrix])

In [140]:
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [141]:
transposed = []

In [142]:
for i in range(4):
...     # the following 3 lines implement the nested listcomp
...     transposed_row = []
...     for row in matrix:
...         transposed_row.append(row[i])
...     transposed.append(transposed_row)

In [143]:
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [144]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [145]:
a = [-1, 1, 66.25, 333, 333, 1234.5]

In [146]:
del a[0]

In [147]:
a

[1, 66.25, 333, 333, 1234.5]

In [148]:
del a[2:4]

In [149]:
a

[1, 66.25, 1234.5]

In [150]:
del a[:]

In [151]:
a

[]

In [152]:
del a

In [153]:
a

NameError: name 'a' is not defined

In [154]:
t = 12345, 54321, 'hello!'

In [155]:
t[0]

12345

In [156]:
t

(12345, 54321, 'hello!')

In [157]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)

In [158]:
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [159]:
# Tuples are immutable:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [160]:
v = ([1, 2, 3], [3, 2, 1])

In [161]:
v

([1, 2, 3], [3, 2, 1])

In [162]:
empty = ()

In [163]:
singleton = 'hello',    # <-- note trailing comma

In [164]:
len(empty)

0

In [165]:
len(singleton)

1

In [166]:
singleton

('hello',)

In [167]:
x, y, z = t

In [168]:
t

(12345, 54321, 'hello!')

In [169]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [171]:
print(basket)                      # show that duplicates have been removed

{'banana', 'apple', 'orange', 'pear'}

In [172]:
'orange' in basket                 # fast membership testing

True

In [173]:
'crabgrass' in basket

False

In [174]:
# Demonstrate set operations on unique letters from two words

In [175]:
a = set('abracadabra')

In [176]:
b = set('alacazam')

In [177]:
a

{'a', 'b', 'c', 'd', 'r'}

In [178]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [179]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [180]:
a & b                              # letters in both a and b

{'a', 'c'}

In [181]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [182]:
a = {x for x in 'abracadabra' if x not in 'abc'}

In [183]:
a

{'d', 'r'}

In [184]:
tel = {'jack': 4098, 'sape': 4139}

In [185]:
tel['guido'] = 4127

In [186]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [187]:
tel['jack']

4098

In [188]:
del tel['sape']

In [189]:
tel

{'jack': 4098, 'guido': 4127}

In [190]:
tel['irv'] = 4127

In [191]:
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [192]:
list(tel)

['jack', 'guido', 'irv']

In [193]:
sorted(tel)

['guido', 'irv', 'jack']

In [194]:
'guido' in tel

True

In [195]:
'jack' not in tel

False

In [196]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [197]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [198]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [199]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}

In [200]:
for k, v in knights.items():
...     print(k, v)

gallahad the pure
robin the brave

In [201]:
for i, v in enumerate(['tic', 'tac', 'toe']):
...     print(i, v)

0 tic
1 tac
2 toe

In [202]:
questions = ['name', 'quest', 'favorite color']
>>> answers = ['lancelot', 'the holy grail', 'blue']
>>> for q, a in zip(questions, answers):
...     print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [203]:
for i in reversed(range(1, 10, 2)):
...     print(i)

9
7
5
3
1

In [204]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
>>> for f in sorted(set(basket)):
...     print(f)

apple
banana
orange
pear

In [205]:
import math

In [206]:
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]

In [207]:
filtered_data = []

In [208]:
for value in raw_data:
...     if not math.isnan(value):
...         filtered_data.append(value)

In [209]:
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [210]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'

In [211]:
non_null = string1 or string2 or string3

In [212]:
non_null

'Trondheim'

In [213]:
(1, 2, 3)              < (1, 2, 4)

True

In [214]:
[1, 2, 3]              < [1, 2, 4]

True

In [215]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [216]:
(1, 2, 3, 4)           < (1, 2, 4)

True

In [217]:
(1, 2)                 < (1, 2, -1)

True

In [218]:
(1, 2, 3)             == (1.0, 2.0, 3.0)

True

In [219]:
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True